
.section-home{
   text-align: center;
   position: absolute;
   bottom: 2em;
   width: 100%;
   z-index: 20;
}

.section-home a, h2{
   color: #ececec;
   text-decoration: none;
}

.section-home a:hover{
   color: #ccdccc;
}
